body {
    margin: 0;
}

.Nav a{
    color:inherit;
    text-decoration: none;
}

a:hover {
    color: gainsboro;
}

/*.root {*/
    /*display: inline-flex;*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

.content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.icon {
    align-self: flex-end;
}

.form-btn {
    display: flex;
    justify-content: space-between;
}
